<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{url_for('static',filename='main.css')}}?v=1.0" rel="stylesheet" type="text/css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" href="/">&larr; Back</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <div class="container mt-5 text-center">
            <h1 class="display-4">We're constantly updating. Here are some of the latest changes.</h1>
        </div>
        <div class="container mt-5">
            <div class="row">
                <div class="col">
                    <h4 class="display-6">Upcoming Features</h4>
                    <ul>
                        <li>Add a dynamic graphic for players' win rates.</li>
                        <li>Faster loading times.</li>
                        <li>Bug fixes.</li>
                        <li>Automated match data updates.</li>
                        <li>Logo and favicon!</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="display-6">Version 3.0</h4>
                    <h5 class='text-muted'>updated March 23th, 2021</h5>
                    <ul>
                        <li>Added in WTA data!</li>
                        <li>Added extra information on player profiles that display the number of titles won.</li>
                        <li>Fixed an issue in which WTA tournament names did not display.</li>
                        <li>Fixed an issue in which some ranks were displayed as floats.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="display-6">Version 2.1</h4>
                    <h5 class='text-muted'>updated March 20th, 2021</h5>
                    <ul>
                        <li>Fixed an issue in which specifying a player's name and a country for their opponents resulted in displaying <i>all</i> of that player's matches (including matches in which the opponents were not of the searched nationality).</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="display-6">Version 2.0</h4>
                    <h5 class='text-muted'>updated March 20th, 2021</h5>
                    <ul>
                        <li>Added the "country" field for querying.</li>
                        <li>Fixed an issue in which ChartsJS included players from countries that were not part of the original query.</li>
                        <li>Added overall head-to-head for country queries only.</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h4 class="display-6">Version 1.0</h4>
                    <h5 class='text-muted'>updated March 19th, 2021</h5>
                    <ul>
                        <li>Placed an upper bound on number of search results to increase loading speed. Any queries with over 2,500 rows will now be capped to 2,500.</li>
                        <li>Added first names to player profiles.</li>
                        <li>Fixed an issue in which empty player rankings throw errors. They now show "(NA)"s instead.</li>
                        <li>Fixed an issue in which secondary links did not load properly.</li>
                        <li>Added some design elements (horizontal line breaks, etc.).</li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>