<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        <link href="{{url_for('static',filename='main.css')}}?v=1.0" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="container title mt-5">
            <h1>{{message}}</h1>
            <h3 class="text-muted mt-5">Head &larr; <a href='/'>back</a> to search again.</h3>
        </div>
    </body>
</html>