<!DOCTYPE html>
<head>
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>

<div class="ui-widget">
	<form action="/results" method = 'POST'>
		<input type="text" placeholder="Player One" name="p1" class="names">
		<input type="text" placeholder="Player Two" name="p2" class="names">
		<input type="text" placeholder="Surface" name="surface" id="surface">
		<input type="text" placeholder="Location" name="location" id="location">
		<input type="submit" value = 'Submit'>
	</form>
</div>
<script type="text/javascript">
	$( function() {
    var names = {{ names | safe }};
    var surface = {{ surface | safe }};
    var locations = {{ locations | safe }};
    $( "#surface" ).autocomplete({
    	source: surface
    })
    $( ".names" ).autocomplete({
    	source: names
    });
    $( "#location" ).autocomplete({
    	source: locations
    })
  } );
</script>