<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
	</head>
	<body>
		<a href='/'>Back</a>
		<h1>{%if location | length > 0%} {{location}} {%endif%}
			{%if surface | length > 0%} {{surface}} {%endif%}
			{%if year | length > 0%} {{year}} {%endif%}
		</h1>
		<h2>{{data | length}} matches played 
			{%if year | length > 0%}
				in {{year}}.
			{%else%}
			since 2005.
			{%endif%}
		</h2>

		<h3>Best Performer: {{data['Winner'].mode()[0]}} ( {{data['Winner'].value_counts()[0]}} wins)</h3>

		<h3>Upsets: {{data[pd.to_numeric(data['WRank']) > pd.to_numeric(data['LRank'])] | length}} ({{100 * (data[pd.to_numeric(data['WRank']) > pd.to_numeric(data['LRank'])] | length) / (data | length)}}%)</h3>

		<div>
			<canvas id="chart1"></canvas>
			<canvas id="chart2"></canvas>
		</div>
		<table class="table table-striped table-hover text-center">
			<tr>
				<th scope="col">Tournament</th>
				<th scope="col">Date</th>
				<th scope="col">Match</th>
				<th scope="col">Surface</th>
				<th scope="col">Court</th>
				<th scope="col">Score</th>
				<th scope="col">Round</th>
			</tr>
			<tbody>
				{% for index, doc in data.iterrows():%}
				<tr>
					<td><a href="/results/location/{{doc['Location']}}">{{doc['Location']}}</a><br>({{doc['Series']}})</td>
					<td>{{doc['Date']}}</td>
					<td><a href="/results/player/{{doc['Winner']}}">{{doc['Winner']}} </a> {{doc['WRank']}}<br><a href="/results/player/{{doc['Winner']}}">{{doc['Loser']}}</a>  {{doc['LRank']}} {% if doc['Comment'] == 'Retired'%} (Ret.) {% endif %}</td>
					<td>{{doc['Surface']}}</td>
					<td>{{doc['Court']}}</td>
					<td>{{doc['W1']}}  {{doc['W2']}}  {{doc['W3']}}  {{doc['W4']}}  {{doc['W5']}}<br>{{doc['L1']}}  {{doc['L2']}}  {{doc['L3']}}  {{doc['L4']}} {{doc['L5']}}</td>
					<td>{{doc['Round']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>

	<script>
		var ctx1 = document.getElementById('chart1').getContext('2d');

		{%if year | length == 0%}
			const chart1 = new Chart(ctx1, {
				type: 'line',
				data: 
				{
					labels: ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
				  	datasets: [{
				  		label: '{{surface.upper()}}',
				    	data: [
				    		{%for i in years:%}
				    			{%if data[data['Date'].str[-4:] == i] | length > 0 %}
				    				{{data[data['Date'].str[-4:] == i]  | length}},
				    			{%else%}
				    				0,
				    			{%endif%}
				    		{%endfor%}
				    		],
				    	borderWidth: 1,
				    	backgroundColor: 'red',
				    	borderColor: 'red',
				    	lineTension: 0,
				    	fill: false,
					}],
				},
				options: {
					responsive: true,
					scales: {
				    	yAxes: [{
				    		ticks: {
				        		beginAtZero: true
				        	}
				      	}]
				    }
				}
			});
		{%endif%}
		var ctx2 = document.getElementById('chart2').getContext('2d');

		var colors = ['red', 'blue', 'green', 'yellow', 'black', 'grey', 'purple', 'orange', 'brown', 'pink'];
		const chart2 = new Chart(ctx2, {
			type: 'bar',
			data: 
			{
				labels: [
					{%for i in range(10):%}
						'{{data["Winner"].value_counts().index[i]}}',
					{%endfor%}
				],
			  	datasets: [
			  		
			  		{
				    	data: [
				    	{%for i in range(10):%}
				    		{{data["Winner"].value_counts()[i]}},
				    	{%endfor%}
				    	],
				    	backgroundColor: 'lightgreen',
				    	borderWidth: 1,
					},
				],
			},
			options: {
				responsive: true,
				scales: {
			    	yAxes: [{
			    		ticks: {
			        		beginAtZero: true
			        	}
			      	}]
			    }
			}
		});
	</script>
</html>