<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">


		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
	</head>
	<body>
		<a href='/'>Back</a>
		<h1>{{name1.upper()}}
			{%if surface | length > 0:%}
				/ {{surface.upper()}}
			{%endif%}
			{%if location | length > 0:%}
				/ {{location.upper()}}
			{%endif%}
			{%if year | length > 0:%}
				/ {{year}}
			{%endif%}
		</h1>
		<h2>{{p1_win | length}} - {{p1_loss | length}}</h2>
		<h2>{{p1_win | length + p1_loss | length}} matches 
			{%if year | length > 0%}
				in {{year}}.
			{%else%}
				played since 2005.
			{%endif%}
		</h2>

		<h3>Average Games (Win): 
		{%if p1_win | length > 0%}

		{{(pd.to_numeric(p1_win['W1']).sum() + pd.to_numeric(p1_win['W2']).sum() + pd.to_numeric(p1_win['W3']).sum() + pd.to_numeric(p1_win['W4']).sum() + pd.to_numeric(p1_win['W5']).sum()) / (pd.to_numeric(p1_win['Wsets']).sum() + pd.to_numeric(p1_win['Lsets']).sum())}}
		{%else%}
		0.0
		{%endif%}
		</h3>

		<h3>Average Games (Lose): 
		{%if p1_loss | length > 0%}
			{{(pd.to_numeric(p1_loss['L1']).sum() + pd.to_numeric(p1_loss['L2']).sum() + pd.to_numeric(p1_loss['L3']).sum() + pd.to_numeric(p1_loss['L4']).sum() + pd.to_numeric(p1_loss['L5']).sum()) / (pd.to_numeric(p1_loss['Wsets']).sum() + pd.to_numeric(p1_loss['Lsets']).sum())}}
		{%else%}
		0.0
		{%endif%}
		</h3>

		<h3>Has upset {{p1_win[pd.to_numeric(p1_win['WRank']) > pd.to_numeric(p1_win['LRank'])] | length}} times, been upset {{p1_loss[pd.to_numeric(p1_loss['WRank']) > pd.to_numeric(p1_loss['LRank'])] | length}} times.</h3>

		<div>
			<canvas id="surface"></canvas>
			{%if year | length == 0%}
				<canvas id="rank"></canvas>
			{%endif%}
		</div>

		<table>
			<th>
				<tr>
					<td>Tournament</td>
					<td>Date</td>
					<td>Match</td>
					<td>Surface</td>
					<td>Court</td>
					<td>Score</td>
					<td>Round</td>
				</tr>
			</th>
			<tbody>
				{% for index, doc in data.iterrows():%}
				<tr>
					<td><a href="/results/location/{{doc['Location']}}">{{doc['Location']}}</a><br>({{doc['Series']}})</td>
					<td>{{doc['Date']}}</td>
					<td><a href="/results/player/{{doc['Winner']}}">{{doc['Winner']}}</a>  {{doc['WRank']}}<br><a href="/results/player/{{doc['Loser']}}">{{doc['Loser']}}</a>  {{doc['LRank']}} {% if doc['Comment'] == 'Retired'%} (Ret.) {% endif %}</td>
					<td>{{doc['Surface']}}</td>
					<td>{{doc['Court']}}</td>
					<td>{{doc['W1']}}  {{doc['W2']}}  {{doc['W3']}}  {{doc['W4']}}  {{doc['W5']}}<br>{{doc['L1']}}  {{doc['L2']}}  {{doc['L3']}}  {{doc['L4']}} {{doc['L5']}}</td>
					<td>{{doc['Round']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>

	<script>
		var ctx1 = document.getElementById('surface').getContext('2d');
		const chart1 = new Chart(ctx1, {
			type: 'bar',
			data: 
			{
				labels: ['Hard', 'Clay', 'Grass', 'Carpet'],
			  	datasets: [
			  	{
			  		label: 'Wins',
			    	data: 
			    	[
			    		{%if p1_win[p1_win['Surface'] == 'Hard'] | length > 0 %}
			    			{{p1_win[p1_win['Surface'] == 'Hard']  | length}},
			    		{%endif%}
			    		{%if p1_win[p1_win['Surface'] == 'Clay'] | length > 0 %}
			    			{{p1_win[p1_win['Surface'] == 'Clay']  | length}},
			    		{%endif%}
			    		{%if p1_win[p1_win['Surface'] == 'Grass'] | length > 0 %}
			    			{{p1_win[p1_win['Surface'] == 'Grass'] | length}},
			    		{%endif%}
			    		{%if p1_win[p1_win['Surface'] == 'Carpet'] | length > 0 %}
			    			{{p1_win[p1_win['Surface'] == 'Carpet'] | length}},
			    		{%endif%}
			    	],
			    	borderWidth: 1,
			    	backgroundColor: 'green'
				},
				{
					label: 'Losses',
					data:
					[
						{%if p1_loss[p1_loss['Surface'] == 'Hard'] | length > 0 %}
			    			{{p1_loss[p1_loss['Surface'] == 'Hard']  | length}},
			    		{%endif%}
			    		{%if p1_loss[p1_loss['Surface'] == 'Clay'] | length > 0 %}
			    			{{p1_loss[p1_loss['Surface'] == 'Clay']  | length}},
			    		{%endif%}
			    		{%if p1_loss[p1_loss['Surface'] == 'Grass'] | length > 0 %}
			    			{{p1_loss[p1_loss['Surface'] == 'Grass'] | length}},
			    		{%endif%}
			    		{%if p1_loss[p1_loss['Surface'] == 'Carpet'] | length > 0 %}
			    			{{p1_loss[p1_loss['Surface'] == 'Carpet'] | length}},
			    		{%endif%}
			    	],
			    	borderWidth: 1,
			    	backgroundColor: 'red'
				}]
			},
			options: {
				responsive: true,
				scales: {
			    	yAxes: [{
			    		ticks: {
			        		beginAtZero: true
			        	}
			      	}]
			    }
			}
		});

		{%if year | length == 0%}
			var ctx2 = document.getElementById('rank').getContext('2d');
			const chart2 = new Chart(ctx2, {
				type: 'line',
				data: 
				{
					labels: ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
				  	datasets: [{
				  		label: 'Ranking',
				    	data: [
				    		{%for i in years:%}
				    			{%if p1_win[p1_win['Date'].str[-4:] == i] | length > 0 %}
				    				{{p1_win[p1_win['Date'].str[-4:] == i].WRank.min()}},
				    			{%else%}
				    				NaN,
				    			{%endif%}
				    		{%endfor%}
				    		],
				    	borderWidth: 1,
				    	backgroundColor: 'red',
				    	borderColor: 'red',
				    	lineTension: 0,
				    	fill: false,
					},
					],
				},
				options: {
					responsive: true,
					scales: {
				    	yAxes: [{
				    		ticks: {
				    			reverse: true,
				        		beginAtZero: true
				        	}
				      	}]
				    }
				}
			});
		{%endif%}
	</script>
</html>