<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
		<link href="{{url_for('static',filename='main.css')}}?v=1.0" rel="stylesheet" type="text/css">
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
		<script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js'></script>
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		  <div class="container-fluid">
		    <div class="collapse navbar-collapse" id="navbarNav">
		      <ul class="navbar-nav">
		        <li class="nav-item">
		          <a class="nav-link" aria-current="page" href="/">&larr; Back</a>
		        </li>
		        <li class="nav-item">
		          <a class="nav-link" href="/player/{{name1}}">{%if location | length > 0%} {{location.upper()}} {%endif%}</a>
		        </li>
		        <li class="nav-item">
		          	<a class="nav-link">{%if surface | length > 0%}  {{surface}} {%endif%}</a>
		        </li>
		        </li>
		        <li class="nav-item">
		          	<a class="nav-link">{%if country | length > 0%}  {{country}} {%endif%}</a>
		        </li>
		        <li class="nav-item">
		        	<a class="nav-link">{%if year | length > 0%} {{year}} {%endif%}</a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="container mt-5">
			<div class="row">
				<div class="col">		
					<h1>{%if location | length > 0%} ATP {{location}} {%endif%}
						{%if surface | length > 0%} / {{surface}} {%endif%}
						{%if year | length > 0%} / {{year}} {%endif%}
						{%if country | length > 0%} 
						/ {{country}}
						{% set c = countries[countries['Country'] == country].Code.values[0] %} 
						<img src="https://www.countryflags.io/{{c}}/flat/64.png">
						{%endif%}
					</h1>
					<hr>
					<h3 class="text-muted">{{data | length | number_format}} matches played 
							{%if year | length > 0%}in {{year}}. {%else%} since 2005.{%endif%}
					</h3>

					<h3 class="text-muted">Best Performer: {{data['Winner'].mode()[0]}} ({{data['Winner'].value_counts()[0] | number_format}} wins)</h3>

					{% if country | length > 0 %}
						<h3 class="text-muted">Overall Performance: {{data[data['Winner'].isin(nationality)] | length}} - {{data[data['Loser'].isin(nationality)] | length}} ({{(100 * (data[data['Winner'].isin(nationality)] | length) / (data[data['Winner'].isin(nationality)] | length + data[data['Loser'].isin(nationality)] | length)) | round_number}}% win rate).</h3>
					{% else %}
						<h3 class="text-muted">{{data[pd.to_numeric(data['WRank']) > pd.to_numeric(data['LRank'])] | length | number_format}} upsets ({{(100 * (data[pd.to_numeric(data['WRank']) > pd.to_numeric(data['LRank'])] | length) / (data | length)) | round_number}}% of total).</h3>
					{% endif %}
				</div>
			</div>
		</div>

		
		<div class="container mt-5 w-20 mb-5">
			<div class="row">
				{% if year | length == 0 %}
				<div class="col">
					<canvas id="chart1"></canvas>
				</div>
				{% endif %}
				<div class="col">
					<canvas id="chart2"></canvas>
				</div>
			</div>
		</div>

		{% if data | length > 5000: %}
			<div class="container">
				<h6 class="text-muted">Results truncated to 2,500 rows. Make your queries more specific to see more results, faster.</h6>
			</div>
		{% endif %}
		<table class="table table-hover table-striped align-middle">
			<tr>
				<th scope="col" class="w-10 text-center">Tournament</th>
				<th scope="col" class="w-10 text-center">Date</th>
				<th scope="col" class="w-25">Match</th>
				<th scope="col" class="w-10 text-center">Surface</th>
				<th scope="col" class="w-10 text-center">Court</th>
				<th scope="col" class="w-25">Score</th>
				<th scope="col" class="w-10 text-center">Round</th>
			</tr>
			<tbody>
				{% for index, doc in data.head(2500).iterrows():%}
				<tr>
					<td class="text-center"><a href="/results/location/{{doc['Location']}}">{{doc['Location']}}</a><br>
						{% if mode == 'ATP' %}
							({{doc['Series']}})
						{% elif mode == 'WTA' %}
							({{doc['Tournament']}})
						{% endif %}
					</td>
					<td class="text-center">{{doc['Date']}}</td>
					<td>
						<img src="https://www.countryflags.io/{{countries[countries['Name'].str.upper() == doc['Winner'].upper()].Code.values[0]}}/flat/24.png">
						<a href="/results/player/{{doc['Winner']}}">{{doc['Winner']}}</a>  
						{% if doc['WRank'] != '' and doc['WRank'] > 0 %}
						({{doc['WRank'] | int}}) 
						{% elif doc['WRank'] == 0 or doc['WRank'] == '' %}
						(NA) 
						{% endif %}<br>
						<img src="https://www.countryflags.io/{{countries[countries['Name'].str.upper() == doc['Loser'].upper()].Code.values[0]}}/flat/24.png">
						<a href="/results/player/{{doc['Loser']}}">{{doc['Loser']}}</a>  
						{% if doc['LRank'] != '' and doc['LRank'] > 0 %}
						({{doc['LRank'] | int}}) 
						{% elif doc['LRank'] == 0 or doc['LRank'] == '' %}
						(NA) 
						{% endif %}
						{% if doc['Comment'] == 'Retired'%} (Ret.) {% endif %}
					</td>
					<td class="text-center">{{doc['Surface']}}</td>
					<td class="text-center">{{doc['Court']}}</td>
					<td>
						{% if (doc['W1'] | string) | length > 0 %}
							{% if mode == 'ATP' %}
								{% set scale = range(1, 6)%}
							{% elif mode == 'WTA' %}
								{% set scale = range(1, 4)%}
							{% endif %}
							{% for i in scale: %}
								{% set w = 'W' ~ i %} 
								{% set l = 'L' ~ i %}
								{% if (doc[w] | string) | length > 0 %}
									<div class="score text-center">
										{% if pd.to_numeric(doc[w]) > pd.to_numeric(doc[l])%}
											<b>{{doc[w]}}</b>
										{% else %}
											{{doc[w]}}
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						{% else %}
							Data unavailable.
						{% endif %}
						<br>
						{% if (doc['L1'] | string) | length > 0 %}
							{% if mode == 'ATP' %}
								{% set scale = range(1, 6)%}
							{% elif mode == 'WTA' %}
								{% set scale = range(1, 4)%}
							{% endif %}
							{% for i in scale: %}
								{% set w = 'W' ~ i %} 
								{% set l = 'L' ~ i %}
								{% if (doc[l] | string) | length > 0 %}
									<div class="score text-center">
										{% if pd.to_numeric(doc[l]) > pd.to_numeric(doc[w])%}
											<b>{{doc[l]}}</b>
										{% else %}
											{{doc[l]}}
										{% endif %}
									</div>
								{% endif %}
							{% endfor %}
						{% else %}
							Data unavailable.
						{% endif %}
					<td class="text-center">{{doc['Round']}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</body>

	<script>
		{%if year | length == 0%}
			var ctx1 = document.getElementById('chart1').getContext('2d');
			const chart1 = new Chart(ctx1, {
				type: 'line',
				data: 
				{
					labels: ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021'],
				  	datasets: [{
				  		label: '{{surface.upper()}}',
				    	data: [
				    		{%for i in years:%}
				    			{% set year_sub = data[data['Date'].str[-4:] == i] | length %}
				    			{%if year_sub > 0 %}
				    				{{year_sub}},
				    			{%else%}
				    				0,
				    			{%endif%}
				    		{%endfor%}
				    		],
				    	borderWidth: 1,
				    	backgroundColor: '#FE8534',
				    	borderColor: '#053C5E',
				    	lineTension: 0,
				    	fill: false,
					}],
				},
				options: {
					title: {
						display: true,
						text: "Matches Played"
					},
					legend: {
						display: false
					},
					responsive: true,
					scales: {
				    	yAxes: [{
				    		ticks: {
				        		beginAtZero: true
				        	}
				      	}]
				    }
				}
			});
		{%endif%}
 		var ctx2 = document.getElementById('chart2').getContext('2d');
		const chart2 = new Chart(ctx2, {
			type: 'bar',
			data: 
			{
				labels: [
					{%for i in range(15):%}
						{% if country | length == 0 %}
							'{{data["Winner"].value_counts().index[i]}}',
						{% else %}
							{% if data['Winner'].value_counts().index[i] in nationality %}
								'{{data["Winner"].value_counts().index[i]}}',
							{% endif %}
						{% endif %}
					{%endfor%}
				],
			  	datasets: [
			  		
			  		{
				    	data: [
				    	{%for i in range(15):%}
						{% if country | length == 0 %}
							{{data["Winner"].value_counts()[i]}},
						{% else %}
							{% if data['Winner'].value_counts().index[i] in nationality %}
								{{data["Winner"].value_counts()[i]}},
							{% endif %}
						{% endif %}
					{%endfor%}
				    	],
				    	backgroundColor: '#FE8534',
				    	borderWidth: 1,
					},
				],
			},
			options: {
				title: {
					display: true,
					text: "Best Performers by Wins"
				},
				legend: {
					display: false
				},
				responsive: true,
				scales: {
			    	yAxes: [{
			    		ticks: {
			        		beginAtZero: true
			        	}
			      	}]
			    }
			}
		});
	</script>
</html>